header {
    color: rgba(254, 233, 186, 0.765);
    background-color: #303f5f;
    border: 3px solid #3e2e62a8;
    border-width: 4px 4px 4px 4px;
    padding: 1px;
}

#profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #1c2639;
    text-shadow: 1px 1px 2px #0080ff4e;
    font-size: large;
}

.tag-font {
    flex-wrap: wrap;
    padding-inline-start: 40px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding-top: 20px;
    font-size: x-large;
}


.graf-font {
    flex-wrap: wrap;
    text-align: center;
    font-family: 'SoupLeaf', sans-serif;
    font-size: 100px;
    color: #80ffd5d9;
    text-shadow: 2px 2px 8px #0080ff;
}

.results {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    padding: 25px;
}

.img {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75%;
    margin-left: 12.5%;
    border: 3px solid #3e2e62a8;
    border-width: 4px 4px 4px 4px;
}

body {
    background-color: #303f5fbd;
}

.artist {
    padding-top: 10px;
}

.audioPreview {
    padding-top: 10px;
}

.releaseDate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #1c2639;
    text-shadow: 1px 1px 1px #0080ff4e;
    font-size: 12px;
   
}

.searchBar {
    
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #000000;;
    text-shadow: 1px 1px 1px #0080ff4e;
    font-size: 13px;
}

.formContainer {
display: flex;
justify-content: center;
}